# # Игнорировать временные файлы Visual Studio, результаты сборки и
# # файлы, созданные популярными надстройками Visual Studio.

# Пользовательские файлы
* .суо
* .пользователь
* .sln.docstates

# Построить результаты

[ Дд ] eug /
[ Рр ] отпусти /
х64 /
[ Bb ] в /
[ Оо ] минет /

# Результаты теста MSTest
[ Tt ] est [ Rr ] результат * /
[ Bb ] уилд [ Ll ] ог. *

* _i.c
* _п.с
* _i.h
* .ilk
* .мета
* .obj
* .пч
* .pdb
* .pgc
* .pgd
* .rsp
* .sbr
* .tlb
* .tli
* .тлх
* .tmp
* .tmp_proj
* .log
* .vspscc
* .vssscc
.строит
* .pidb
* .log
* .svclog
* .scc

# Файлы кэша Visual C++
ипч /
* .aps
* .ncb
* .opensdf
* .sdf
* .cachefile

# Профилировщик Visual Studio
* .psess
* .всп
* .vspx

# Набор инструментов для автоматизации управления
* .gpState

# ReSharper — это надстройка для кодирования .NET.
_ReSharper * /
* . [ Рр ] е [ Сс ] арфист
* .DotSettings.user

# Каталог Click-Once
опубликовать /

# Публикация веб-вывода
* .Publish.xml
* .pubxml
* .azurePubxml

# Каталог пакетов NuGet
# # ЗАДАЧА: Если у вас включено восстановление пакета NuGet, раскомментируйте следующую строку.
пакеты /
# # TODO: Если для используемого вами инструмента требуется repositories.config, также раскомментируйте следующую строку.
! пакеты / репозитории.config

# Вывод сборки Windows Azure
csx /
* .build.csdef

# Каталог пакета приложения Магазина Windows
Пакеты приложений /

# Другие
sql /
* .Кэш
КлиентБин /
[ Ss ] стиль [ Cc ] op. *
! [ Ss ] стиль [ Cc ] op.targets
~$ *
* ~
* .dbmdl
* . [ стр ] ublish.xml

* .publishsettings

# проектов RIA/Silverlight
Сгенерированный_код /

# Резервное копирование и создание отчетов при преобразовании старого файла проекта в новый
# Версия Visual Studio. Файлы резервных копий не нужны, потому что у нас есть git ;-)
_UpgradeReport_Files /
Резервное копирование * /
Журнал обновлений * .XML
Журнал обновлений * .htm

# файлы SQL-сервера
App_Data / * .mdf
Данные_приложения / * .ldf

# ========================
# Детрит Windows
# ========================

# Кэш файлов изображений Windows
Thumbs.db
ehthumbs.db

# Конфигурационный файл папки
Рабочий стол.ini

# Корзина, используемая в общих папках
$RECYCLE.BIN /

# Файлы хранилища сервисов для настольных компьютеров Mac
.DS_Store

_NCrunch *